:root {
  --text-color: #3a4a5b;
  --green-color: #20ae8d;
  --purple-color: #a29dfc;
  --blue-color: #6cb8f1;
  --gray-color: #ddd;
  --white-color: #fff;
  --pink-color: #ffcfcc;
  --red-color: #ffaca9;
  --darkred-color: #de1811;
  --darken-gray--color: #666363;
}
